/* HTML elements */

body{
	font-size: 18px;
	font-family: 'Noto Sans', sans-serif;
	color: black;
	text-outline: 2px 2px white;
	background: url(../res/debut_light.png);
}

h2{
	font-size: 2.5em;
}

hr{
	width: 90%;
}

textarea {
    resize: none;
}

/* ID specific CSS */
	#sideyBar{
		position: absolute;
		top: 0px;
		left:0px;
		width: 15%;
		height: 100%;
		z-index: 1031;
	}

	#content{
		width: 80%;
		min-width: 720px;
		margin: auto auto auto 15%;
		min-height: 100%;
	}

	#sessionStuff{
		text-align: center;
	}

	#sessionStuff label{
		font-size: 1.5em;
	}

	#sessionStuff input[type="text"]{
		width: 80%;
		padding: 0.5em;
	}

	#chatBox{
		width:98%;
	}

	#ytplayer{
		width: 96%;
		text-align: center;
	}

	#builder input[type="text"]{
		width: 80%;
		padding: 0.5em;
	}
	
	#chat-box {
		text-align: left;
	}

	#board {
		margin-left: 2px;
		background: white;
		overflow: auto;
	}

	#activePpl{
		overflow-x: hidden;
		overflow-y: auto;
		text-align: center;
	}

	/*Search overlay styling*/
	#searchStuff {
		z-index: 10000;
		background: url(../res/overlay_bg.png);
		position:fixed; 
		top:0px; 
		left:0px; 
		width:100%; 
		height:100%; 
		text-align:center; 
		vertical-align:middle;
	}

	#searchStuff #container{
		width: 80%;
		max-width: 640px;
		margin: 3em auto;
	}

	#searchStuff #container .something{
		background-color:gray;
		border-radius: 25px;
		padding: 25px 5px;
	}

	#overlayClose{
		cursor: pointer;
	}

	#searchResultDiv{
		padding: 1em ;
	}

	#board p:nth-child(even){
		background: #F1F1F1;
	}
	
	
/* Classes for CSS */

	/* Custom container */
	.container-narrow {
		margin: 0 auto;
		max-width: 700px;
	}
	.container-narrow > hr {
		margin: 30px 0;
	}

	/* Main box and buttons */
	.jumbotron {
		text-align: center;
		padding: 20px;
		background: url(../res/debut_light.png);
	}

	.jumbotron_margin {
		margin: 60px 0;
	}
	.jumbotron h1 {
		font-size: 72px;
		line-height: 1;
	}
	.jumbotron .btn {
		padding: 8px 8px;
	}

	.vol_controls{
		font-size: 1.25em;
		padding: .25em;
		border: solid 3px gray;
		border-radius: .25em;
		cursor: pointer;
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
		/* Rules below not implemented in browsers yet */
		-o-user-select: none;
		user-select: none;
	}

	.vol_controls:hover{
		border: solid 3px #c4302b;
		color: #c4302b;
	}
	
	.vol_value{
		font-size: 1.25em;
		padding: .25em;
	}
	
	.result{
		padding: .25em;
		cursor: pointer;
		color: black;
	}

	.result:hover{
		background: #c4302b;
		color: white;
	}

	.sideyItem{
		margin: 2em 1em;
		border-bottom: solid 1px #393939;
	}
	
	.sideyItem:first-child{
		margin-top: 5em;
	}

	.sideyItem:last-child{
		padding-bottom: 1em;
	}

	.logo{
		margin: 2em 1em;
	}

	.box_it{
		border-radius: 0px;
		padding: 0.2em;
		border: solid 1px #393939;
		height: 90%;
		overflow-y: auto;
	}

	/*Helper CSS*/
	.margin_1em{
		margin: 1em;
	}

	.errorSpace{
		color: red;
	}

	.soft_box{
		background: #363636;
		border: solid 1px #EEEEEE;
		border-radius: 4px 4px 4px 4px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
		text-align: center;
	}
	
	.clip_overflow{
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.no_bullets{
		list-style-type: none;
	}

	.padding_top_bottom_1{
		padding: 1em 0px;
	}

	.full_width{
		width: 95%;
	}

	.btn_padding{
		padding: 8px 0;
	}

	.noisy_net{
		background: url(../res/noisy_net.png);
	}
	
	.push_down{
		margin-top: 3em;
	}

	.white_bg{
		background: white;
	}

	.border_right{
		border-right: solid 1px gray;
	}

	.grey_text{
		color: #E1E1E1;
	}
	
	.thick_border{
		border: solid 3px #363636;
	}

	.push_up_3px{
		position: relative;
		top: -3px;
	}

	.push_to_corner{
		position: relative;
		top: -10px;
		left:; 10px;
	}