body{
	font-size: 18px;
	font-family: 'Noto Sans', sans-serif;
	color: black;
	text-outline: 2px 2px white;
	background: url(../res/noisy_net.png);
}

h2{
	font-size: 2.5em;
}

hr{
	margin: 2em auto;
}


#content{
	width: 80%;
	min-width: 720px;
	padding: 25px;
	margin: auto;
}

#sessionStuff{
	text-align: center;
}

#sessionStuff label{
	font-size: 1.5em;
}

#sessionStuff input[type="text"]{
	width: 80%;
	/*font-size: 1.25em;*/
	padding: 0.5em;
}

#messageBoard #board{
	width: 96%;
	height:512px;
	background: white;
	border: 1px solid gray;
	overflow:auto;
	text-align: left;
	padding-left:10px;
	padding-right: 10px;
}
#chatBox{
	width: 96%;
	height: 3em;
	padding-left:10px;
	padding-right: 10px;
	border: 1px solid gray;
}

#ytplayer{
	width: 96%;
	text-align: center;
}

#builder input[type="text"]{
	width: 80%;
	padding: 0.5em;
}

#message{
	text-align: center;
	padding: 1em;
}

table tr td{
	width: 50%;
}

table {
	width: 96%;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main box and buttons */
.jumbotron {
	text-align: center;
	padding: 20px;
	background: url(../res/debut_light.png);
}

.jumbotron_margin {
	margin: 60px 0;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	padding: 8px 8px;
}

.table_25_75 tr td:first-child{
	width: 25%;
}
.table_25_75 tr td:last-child{
	width: 75%;
}

.errorSpace{
	color: red;
}
